jobs:
on:
  push:
    branches:
      - main

  build:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.set_tag.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
      - id: set_tag
        run: echo "tag=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT
      - run: docker build -t test-image:${{ steps.set_tag.outputs.tag }} .

  push:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.SECRET_KEY }}
          aws-region: ${{ env.AWS_REGION }}
      - uses: aws-actions/amazon-ecr-login@v2
      - run: |
          IMAGE_TAG=${{ needs.build.outputs.image_tag }}
          ECR_IMAGE=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker tag test-image:$IMAGE_TAG $ECR_IMAGE
          docker push $ECR_IMAGE
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ env.ECR_REPOSITORY }}
